<%= render partial: "/shared/icon_links_btns", locals: { back: defense_processes_path, edit: false, delete: false, eye: @defense_process } %>

<h1>Editing defense process</h1>

<%= render "form", defense_process: @defense_process %>
