<%= render partial: "/shared/back_edit_trash_btns", locals: { back: defense_processes_path, edit: false, delete: false } %>

<h1>Editing defense process</h1>

<%= render "form", defense_process: @defense_process %>
