<div>
  <%= link_to defense_processes_path do %>
    <i class="bi bi-arrow-left-circle defense"></i>
  <% end %>
</div>

<h1>Новий захист</h1>

<%= render "form", defense_process: @defense_process %>
