<div id="<%= dom_id criterium %>">
  <p>
    <strong>Name:</strong>
    <%= criterium.name %>
  </p>

  <p>
    <strong>Eval method:</strong>
    <%= criterium.eval_method_id %>
  </p>

  <p>
    <strong>Expert:</strong>
    <%= criterium.expert_id %>
  </p>

</div>
