<%= render partial: "/shared/icon_links_btns", locals: { back: @student, edit: false, delete: false, eye: @student } %>

<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Back to students", students_path %>
</div>
