<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/icon_links_btns", locals: { back: :back, edit: { path: edit_student_path(@student), resource: @student }, delete: { path: student_path, resource: @student }, eye: false } %>

<%= render @student %>

<div>
  <%= link_to "Open list of students", students_path %>
</div>
