<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/back_edit_trash_btns", locals: { back: :back, edit: edit_student_path(@student), delete: student_path } %>

<%= render @student %>

<div>
  <%= link_to "Open list of students", students_path %>
</div>
