<%= render partial: "/shared/icon_links_btns", locals: { back: defense_process_path(@defense_process.id), edit: false, delete: false, eye: defense_process_group_path(@defense_process.id) } %>

<h1>Editing group</h1>

<%= render "form", group: @group %>
