<%= render partial: "/shared/back_edit_trash_btns", locals: { back: defense_process_path(@defense_process.id), edit: false, delete: false } %>

<h1>Editing group</h1>

<%= render "form", group: @group %>
