<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/back_edit_trash_btns", locals: { back: defense_process_path(@defense_process.id), edit: edit_defense_process_group_path, delete: defense_process_group_path } %>

<%= render @group %>

<textarea id="w3review" name="w3review" rows="4" cols="50">
  At
</textarea>
