<div class="wrapper">
    <header>
        <h1>Welcome to Defence of Diploma Project</h1>
        <h5 class="pre-header">This project will help the members of the examination committee to give grades to students for diploma projects.</h5>
    </header>
    <div class="action-board">
        To start: 
        <%= button_to "Sign Up", new_user_registration_path, { class: 'btn btn-secondary', :method => :get} %>
        or
        <%= button_to "Login", new_user_session_path, { class: 'btn btn-success'}  %>
    </div>
</div>
