<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/icon_links_btns", locals: { back: teachers_path, edit: edit_teacher_path(@teacher), delete: @teacher, eye: false } %>

<%= render @teacher %>
