<h1>Editing commission</h1>

<%= render "form", commission: @commission %>

<br>

<div>
  <%= link_to "Show this commission", @commission %> |
  <%= link_to "Back to commissions", commissions_path %>
</div>
