<%= render partial: "/shared/icon_links_btns", locals: { back: commissions_path, edit: false, delete: false, eye: @commission } %>

<h1>Оновити інформацію про комісію</h1>

<%= render "form", commission: @commission %>
