<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/icon_links_btns", locals: { back: commissions_path, edit: edit_commission_path(@commission), delete: @commission, eye: false } %>

<%= render @commission %>
