<div class="protocols__container">
    <div class="center" style="text-align: center;">
        <div class="protocols__wrapper"><b>Український державний університет науки і технологій</b></div>
        <p><b>ПРОТОКОЛ № </b><%= 1 %> від <%= @student.date.strftime("%d") %><%= t('month.' + @student.date.strftime("%m")) %> <%= @student.date.strftime("%Y") %> року </p>
        <p><b>Засідання екзаменаційної комісії №</b> ___</p><br />
        <p></p>
        <p>ступінь вищої освіти ____</p>
    </div>
</div>