.defense_container {
    .form_container {
        display: none;
    }

    .btn-success {
        margin-top: 20px;
    }
}

.defense_process_wrap {
    display: flex;
    align-items: center;

    .bi-eye {
        margin: 0px 10px 0px 10px;
        font-size: 25px;
    }
}

.bi.defense {
    font-size: 25px;
}

.btn-defense_trash {
    border: none;
    background: none;
    color: rgba(13, 110, 253, 1);
    text-decoration: underline;
}