.wrapper.login {
    display: flex;
    justify-content: center;

    h2 {
        text-align: center;
    }

    .login-form, .sign-up-form, .forgot-pass-form {
        width: 500px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        
        .btn {
            justify-self: right;
        }

        .btn-sign-up, .btn-forgot-pass {
            margin-top: 20px;
        }
    }
}

.btn-back {
    margin: 20px;
}