.container {
    margin: 0px 80px 80px 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.field {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(34, 33, 40);
    color: rgb(234, 228, 228);
}
