.protocols__container {
    font-size: 24px;
    font-family: "Times New Roman";

    .underline {
        border-bottom: 1px solid black;
    }
    
    .protocols__wrapper {
        font-weight: bold;
        text-align: center;
    }

    .specification {
        position: relative;
        margin-bottom: 20px;
    }

    .specification::after {
        display: inline-block;
        position: absolute;
        font-size: 14px;
        bottom: -20px;
    }

    .specification_pos-status-patro-init::after {
        content: "(посада, науковий ступінь, вчене звання, прізвище, ініціали)";
        left: 50%;
    }

    .specification_pos-status-lfp::after {
        content: "(науковий ступінь, вчене звання, посада, прізвище, ім’я, по батькові)";
        left: 25%;
    }

    .specification_lang::after {
        content: "(вказати мову)";
        left: 50%;
    }

    .specification_questions::after {
        content: "(прізвище й ініціали особи, що поставила запитання, зміст запитання)";
        left: 25%;
    }

    .specification_lfp::after {
        content: "(прізвище та ім’я, по батькові)";
        left: 25%;
    }

    .specification_diploma-type::after {
        content: "(назва атестаційної роботи)";
        left: 50%;
    } 

    .protocol_row {
        text-align: left;
        display: flex;

        .title {
            flex: 0 1 auto;
            align-self: auto;
            min-width: 300px;
        }

        .info {
            border-bottom: 1px solid black;
            flex: 2 1 auto;
            align-self: auto;
        }
    }

    .group__info {
        .title {
            min-width: 300px;
        }
    }

    .student__info {
        .title {
            min-width: 150px;
        }
    }

    .commission__info {
        .commission__title {
            text-align: center;
        }
        .title {
            min-width: 150px;
        }
    }

    .mentor__info {
        .mentor__title {
            text-align: center;
        }  
    }

    .materials__info {
        .mentor__title {
            text-align: left;
        }

        .protocol_row_1 {
            .title {
                min-width: 420px;
            }
        }

        .protocol_row {
            .text {
                text-align: left;
            }
        }
    }

    .materials__info {
        
    }

    .questions__info {}

    .result__info {}

}