.protocols__container {
    font-size: 24px;
    font-family: "Times New Roman";

    .underline {
        border-bottom: 1px solid black;
    }

    .inner {
        padding: 0px 20px 0px 20px;
        margin: 0px 40px 0px 40px;
        width: 100%;
        text-align: center;
    }

    .inner__20px {
        margin: 0px 20px 0px 20px;
    }
    
    .protocols__wrapper {
        letter-spacing: 0.5px;
        margin: 60px 0px 0px 0px;

        .university {
            font-weight: bold;
            text-align: center;
            margin: 0px 0px 20px 0px;
        }

        .commission {
            font-size: 20px;
        }
    }
    
    .specification {
        position: relative;
        margin-bottom: 20px;
    }

    .specification::after {
        display: inline-block;
        position: absolute;
        font-size: 14px;
        bottom: -20px;
    }

    .specification_pos-status-patro-init::after {
        content: "(посада, науковий ступінь, вчене звання, прізвище, ініціали)";
        left: 25%;
    }

    .specification_pos-status-lfp::after {
        content: "(науковий ступінь, вчене звання, посада, прізвище, ім’я, по батькові)";
        left: 25%;
    }

    .specification_lang::after {
        content: "(вказати мову)";
        left: 50%;
    }

    .specification_questions::after {
        content: "(прізвище й ініціали особи, що поставила запитання, зміст запитання)";
        left: 25%;
    }

    .specification_lfp::after {
        content: "(прізвище, ім’я, по батькові)";
        left: 25%;
    }

    .specification_diploma-type::after {
        content: "(назва атестаційної роботи)";
        left: 50%;
    }

    .specification_code::after {
        content: "(шифр та назва)";
        left: 50%;
    }

    .specification_diploma-version::after {
        content: "(з відзнакою)";
        left: 50%;
    }

    .specification_fl-name::after  {
        content: "(ім’я, прізвище)";
        left: 50%;
    }

    .protocol_row {
        text-align: left;
        display: flex;
        margin-top: 15px;

        .title {
            flex: 0 1 auto;
            align-self: auto;
        }

        .title_150px {
            min-width: 150px;
        }

        .title_200px {
            min-width: 200px;
        }
    
        .title_300px {
            min-width: 300px;
        }

        .info {
            border-bottom: 1px solid black;
            flex: 2 1 auto;
            align-self: auto;
            padding-left: 10px;

            &.not_underline {
                border-bottom: none;
                display: flex;
            }
        }

        .info_160px {
            padding-left: 160px;
        }
    }

    .commission__info {
        .commission__title {
            text-align: center;
            margin-top: 40px;
        }
    }

    .mentor__info {
        .mentor__title {
            text-align: center;
            margin-top: 60px;
        }  
    }

    .materials__info {
        .materials__title {
            text-align: left;
            margin-top: 60px;
        }

        .protocol_row_1 {
            .title {
                min-width: 420px;
            }
        }

        .protocol_row {
            .text {
                text-align: left;
            }
        }
    }

    .materials__info {
        
    }

    .questions__info {}

    .result__info {}

    .commission__signatures {
        .protocol_row .commission__wrap {
            display: flex;
            flex-wrap: wrap;
            border: none;
            border-bottom: none;
    
            .sign__wrap {
                border-bottom: 1px solid black;
                flex: 1 1 50%;
                text-align: right;
                position: relative;
            }

            .sign__wrap:last-child::after {
                content: "(ім’я та прізвище особи, що склала протокол, підпис)";
                left: 25%;
            }
        }
    }

}