<h1>Editing eval method</h1>

<%= render "form", eval_method: @eval_method %>

<br>

<div>
  <%= link_to "Show this eval method", @eval_method %> |
  <%= link_to "Back to eval methods", eval_methods_path %>
</div>
